#crossStateMain {
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem;
}

#oregonContainer {
  border-bottom: 1px dashed var(--color-line);
}

.stateContainer {
  display: flex;
  padding: 1.25rem 0;
}

.crossStateContainer {
  text-align: center;
}

.ginglesContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 0;
}

.ginglesChart {
  height: 22.5rem;
}

.crossStateDropdownContainer {
  width: 15%;
  display: grid;
  grid-template-rows: 1fr 8fr;
  margin: 4rem 0 0 0;
  padding-top: 0.5rem;
  padding-right: 4rem;
}

.racialGroupSelector {
  margin-top: 0.3rem;
  width: 5rem;
}

.tableContainer {
  width: 55%;
  padding: 0px 1rem;
  min-width: 0;
}

.crossStateTable {
  width: 100%;
  border-collapse: collapse;
}

.crossStateTableCell {
  padding: 0.5rem;
  border: 1px solid #d4d4d8;
  font-size: 0.92rem;
}

.tablePageContainer {
  display: flex;
  justify-content: center;
}

.tablePageArrow:hover {
  cursor: pointer;
}

.tablePageText {
  font-size: 0.8rem;
  padding: 0px 2px;
}

@media (max-width: 1200px) {
  .stateContainer {
    flex-direction: column;
  }

  .ginglesContainer,
  .crossStateDropdownContainer,
  .tableContainer {
    width: 100%;
  }

  .crossStateDropdownContainer {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding-right: 0;
  }
}
