
.customAnalysis_bodyContainer{
    display:grid;
    grid-template-rows: 1fr 1fr 8fr;
    margin: 5rem 0 0 0; /*Distance from headers*/
    /* grid-template-columns: 1fr 1fr 1fr; */

    /* display:flex;
    justify-content: center; */
}
.customAnalysis_minorityCheckboxContainer{
    grid-row: 1;
    justify-self: center;
    margin: 0 0 5rem 0;

    /* grid-column: 2; */
}
.customAnalysis_dataCheckbox{
    justify-self:center;
}
/* .customAnalysis_extraCheckboxContainer{
    margin:0rem 0rem 0rem .5rem;
} */
.customAnalysis_extraDropdown1_Label
{
    margin: 0rem .5rem 0rem .5rem;
}
.customAnalysis_dataBodyContainer{
    grid-row: 3;
    display:flex;
    justify-content: center;
}
.customAnalysis_dataContainer{
    /*Allow data to be displayed with label on top, data on bottom*/
    margin: 1rem;
    justify-self: center;

}

.customAnalysis_dataLabel{
    grid-row: 1; 
    margin: 1rem 0rem;
}
.customAnalysis_data{
    grid-row: 2;
}