.splashPage {
}
.splashPage_body {
  /* Make splash page body shifted down */
  padding: 0.5% 0% 0% 0%; /* Space away from rest*/
  display: grid;
  /* Center its content */
  justify-content: center;
  align-items: center;
}
.splashPage_mapHeader {
  /* Need to test */
  /* height: 5%;
    width: 20%; */
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

#mapContainer {
  padding-top: 0.5%;
}

#countrymap {
  width: 85rem;
  height: 85vh;
}

.info {
  padding: 6px 8px;
  font:
    14px/16px Arial,
    Helvetica,
    sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
