#statePageMain {
  display: flex;
  height: 80vh;
  padding: 1rem;
}

#statePagemap {
  width: 37rem;
  height: 30rem;
}

#statePageMapContainer {
  height: 100%;
}

#statePageMapContainer,
#tableContainer {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
#statePageMapContainer {
  flex-direction: column;
  gap: 0.5rem;
}

.statePageMapLabel {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.01em;
}
#tableContainer {
  flex-direction: column;
  gap: 0.5rem;
}
.statePageTableLabel {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.01em;
}
table {
  border-collapse: collapse;
  border: 1px solid;
  table-layout: fixed;
  padding: 1rem;
}

td,
th {
  width: 15rem;
  padding: 0.75rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid;
}
