#statePageMain {
  display: flex;
  height: 80vh;
  padding: 1rem;
}

#statePagemap {
  width: 37rem;
  height: 30rem;
}

#statePageMapContainer {
  height: 100%;
}

#statePageMapContainer,
#tableContainer {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  table-layout: fixed;
  padding: 1rem;
}

td,
th {
  width: 15rem;
  padding: 0.75rem;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid;
}
